.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container label {
    margin-bottom: 10px;
  }
  
  .container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .submit {
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .container button:hover {
    filter:brightness(130%)
  }
  
  .container .error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .container p {
    margin-top: 20px;
    text-align: center;
  }
  
  .container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .container a:hover {
    text-decoration: underline;
  }
  
  .link {
    font-size: 16px;
    background-color: white;
    color: #007bff;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }